@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #484569;
  --text-secondary-color: #605d80;
  --text-third-color: #2f2e57;
  --card-bg: rgba(255, 255, 255, 0.5);
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-color: #a8a7c0;
  --text-secondary-color: #9895b3;
  --text-third-color: #b6b5d1;
  --card-bg: rgba(0, 0, 0, 0.5);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Add this to ensure smooth transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
